@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Inconsolata:400,700');

$introwidth: 384px;
$padding: 32px;
$radius: 6px;
// colors
$blue: #3ba3fc;
$bluedk: #0068c1;
$graphite: #285882;
$graphitedk: #1a3b58;
$lgrey: #f9f9f9;
$lgreydk: #ddd;
$lpurple: #f4e1ff;
$lpurpledk: #e6c2fb;
$purpledk: #8238af;
$purple: #9f56cc;

a {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid $blue;
    font-weight: bolder;
    &:hover {
        color: $bluedk;
        border-color: $bluedk;
    }
    // local page links
    &[href^="#"] {
        font-weight: bolder;
        color: black;
        border-color: transparent;
        &:hover {
            color: $graphite;
        }
    }
}

code {
    font-family: "Inconsolata", monospace;
    background: $lgrey;
    border: 1px solid $lgreydk;
    border-radius: $radius;
    display: inline-block;
    padding: 2px 8px;
    margin: -2px 4px;
}

strong {
    font-weight: bolder;
}

* {
    box-sizing: border-box;
    font-family: Roboto;
}

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito;
    font-weight: 400;
    color: black;
    margin: 0;
    position: relative;
    .emoji {
        position: absolute;
        left: -1.5em;
    }
}

#teamMembers {
    font-weight: 300;
}

p, li {
    font-weight: 300;

}

ul {
    margin-bottom: 1em;
    &.checklist {
        li {
            list-style-type: none;
            margin-left: 1.5em;
            position: relative;
        }
        li::before {
            content: "";
            display: block;
            width: 1rem;
            height:1rem;
            border: 1px solid $lgreydk;
            background: $lgrey;
            border-radius: $radius;
            position: absolute;
            left: -2rem;
            top:.2rem;

            vertical-align: middle;
        }
        li.checked::before {
            content: "✓";
            font-size: .8em;
            text-align: center;
            color: white;
            border-color: $bluedk;
            background: $blue;
        }
        li.stretch {
            &::before {
                background: $lpurple;
                border-color: $lpurpledk;

            }
            color: $purpledk;
            &::after {
                content: "Stretch Goal 🤞";
                position: absolute;
                right: 0;
                top: 0;
                transform: translateX(100%);
                border: 1px solid $purpledk;
                background: $purple;
                color: white;
                padding: 4px 8px;
                border-radius: $radius;
                font-size: .8em;
                opacity: 0;
                transition: .2s ease opacity;
            }
            &:hover::after {
                opacity: 1;
            }
        }
    }
}
.placeholder {
    color: #bbb;
    font-weight: 300;
    &::before {
        color: #ddd;
        content:"<";
    }
    &::after {
        color: #ddd;
        content:">";
    }
}

li {
    margin-bottom: 8px;
}

#intro {
    width: $introwidth;
    position: fixed;
    height: 100vh;
    text-align: right;
    padding-left: $padding;
    h1 {
        margin-top:25vh;
    }

    h2 {
        font-weight: 200;
    }

    p {
        max-width: 75%;
        margin-left: auto;
    }
}

main {
    padding-top: 25vh;
    margin-left: $introwidth + $padding;
    padding-left: $padding;
    max-width: 80%;
    overflow-y: scroll;
    height: 100vh;
    left: 0px;
    position: relative;
    #posts {
        position: relative;
        margin: 0;
        padding: 0;
        li {
            font-size: 2rem;
            font-weight: 100;
            overflow-y: scroll;
            padding-left: 3rem;
            position: relative;
            line-height: 2em;
            &:first-child h2 {
                border-top: none;
            }
            h2 {
                font-size: 2rem;
                font-weight: 100;
                border-top: 1px dotted #eee;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.post {
    width: 40%;
    min-width: 640px;
    margin: 0 auto;
    a.header {
        display: block;
        width: 100%;
        padding-top: 64px;
        padding-bottom: 32px;
        font-size: 4em;
        text-align: center;

        &:hover {
            animation: wiggle .25s ease infinite;
        }
        @keyframes wiggle {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(5deg);
            }

            50% {
                transform: rotate(0deg);
            }

            75% {
                transform: rotate(-5deg);
            }
        }
        border: 0;
    }
    h1 {
        border-bottom: 1px dotted #eee;
        padding-bottom: 16px;
        font-weight: 100;
        font-size: 3rem;
        text-decoration: none;
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 12px;

    }
    h3 {
        font-size: 1.4rem;
        font-weight: 300;
        padding: 8px 0px;
        border-top: 1px dotted #eee;
    }
    p,li {
        line-height: 1.6;
        margin-bottom: 1em;
    }
    p.footnote {
        font-size: smaller;
    }
    .tag {
        vertical-align: super;
        font-size: 50%;
    }
}

hr {
    border: none;
    border-top: 1px dotted #eee;
    margin: 32px 0;
}

.butterfly {
    background-image: url("/images/butterfly.png");
    width: 1em;
    height: 1em;
    background-size: contain;
    display: inline-block;
}

div.katex-math {
    text-align: center;
}
